
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 200px;
    width: 400px;
    border: 5px solid rgb(57, 14, 245);
    display: flex;
flex-wrap: wrap;
align-content:flex-start;
justify-content: center;
align-items: center;
background-color:cornsilk;
}
.box{
    height: 60px;
    width: 55px;
    background-color: blanchedalmond;
    border: 1px solid violet;
    margin: 1px;
    align-content: center;
   
}
.box1,.box3,.box5,.box8,.box10,.box12,.box13,.box15,.box17{
    background-color: black;
    color: aqua;
     
}
.box2,.box4,.box6,.box9,.box11,.box14,.box16,.box18,.box7{
    background-color: coral;
    color: aqua;
    
}
